<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stathis.smartassistant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smarty_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/smarty_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAssistant">
        <activity
            android:name=".ui.faq.FaqActivity"
            android:exported="false" />
        <activity
            android:name=".ui.petdetails.PetDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.feed.FeedingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.rooms.RoomsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.wardrobe.WardrobeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.details.EventInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.events.EventsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>